# Server Configuration
server:
  port: 8086

# Application Configuration
spring:
  application:
    name: payment-service

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: S6u8t9OZ/kxZNIDkw2wT7i9y4rg1hIo7wJ6xF4lsP6ZNEjV29QmgNkpvuIgx/CqYlYH+iSz0x/QJqcdKbxQCAw==
  
  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/payment_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum-pool-size: 10
      minimum-idle: 2
  
  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.LongSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.trusted.packages: "*"


# Eureka Client Configuration
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

# Logging Configuration
logging:
  level:
    root: INFO
    org.springframework: INFO
    com.ecommerce: DEBUG

kafka:
  topics:
    payment-result: payment-result-topic

# Actuator Configuration
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
    metrics:
      enabled: true

# Circuit Breaker Configuration
resilience4j.circuitbreaker:
  instances:
    default:
      registerHealthIndicator: true
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 3
      slidingWindowType: COUNT_BASED
      minimumNumberOfCalls: 5
      waitDurationInOpenState: 10s
      failureRateThreshold: 50

# Retry Configuration
resilience4j.retry:
  instances:
    default:
      maxAttempts: 3
      waitDuration: 1s
      enableExponentialBackoff: true
      exponentialBackoffMultiplier: 2

# External Services Configuration
order:
  service:
    url: http://localhost:8084  # Order service URL

payu:
  key:
  salt:
  base-url: https://test.payu.in/_payment

app:
  url: http://localhost:8086

frontend:
  url: http://localhost:8087