version: '3.8'

services:
  mongodb:
    image: mongo:7.0   # Use latest stable version
    container_name: cart-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: cartdb
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
